<html>
    <head>
        <title>Zoita blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Блог Zoita</a></h1>
        </div>

        <div>
            <p>published: 01.09.2020, 18:47</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Зачем человеку покорять внешний космос, если он может покорить свой космос, внутренний?</p>
        </div>

        <div>
            <p>published: 01.09.2020, 18:53</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Бесконечная вселенная Бернара Вербера</p>
        </div>
    </body>
</html>